<h1>Chart {{ page.chart | plus: 1 }}, Level {{ site.data.levels[page.level] }}</h1>

{% for i in (0..4) %}
  <div id='ex{{ i | plus: 1 }}'>
    <h2>Exercise {{ i | plus: 1 }}: {{ site.data.exercises.names[i] }}</h2>
    {{ site.data.exercises.descriptions[page.chart][i] | markdownify }}
    <img src="{{ site.baseurl }}/assets/img/chart{{ page.chart }}_ex{{ i }}.png"></img>
    <h3>
      {% assign reps = site.data.exercises.repetitions[page.chart][page.level][i] %}
      {% assign repsd = reps | divided_by: 85 %}
      {% assign repsm = reps | modulo: 85 %}
      {{ reps }} reps
      {% if i==4 and repsd > 0 %}
        (= {% if repsd > 1 %} {{ repsd }} × {% endif %}(75 + 10){% if repsm > 0 %} + {{ repsm }}{% endif %})
    in {{ site.data.exercises.duration[i] }} min
      {% endif %}
    </h3>
  </div>
{% endfor %}
